* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at top, #1c1c1c, #0e0e0e);
  color: #282727;
  min-height: 100vh;
}

header {
  background-color: #1c1c1c;
  color: #f1c40f;
  text-align: center;
  padding: 2em 0;
  border-bottom: 3px solid #f1c40f;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

nav {
  background-color: #1e1e1e;
  padding: 1em;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #444;
}

nav a {
  color: #f1c40f;
  margin: 0 1.5em;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
  transition: 0.3s ease;
}

nav a:hover {
  color: white;
  border-bottom: 2px solid #f1c40f;
}

main {
  max-width: 960px;
  margin: 3em auto;
  padding: 2em;
  background-color: #121212;
  border-radius: 10px;
  border: 2px solid #444;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.1);
}

h2 {
  color: #f1c40f;
  font-size: 1.8em;
  margin-bottom: 1em;
  border-left: 5px solid #f1c40f;
  padding-left: 0.7em;
}

.section-modules {
  margin-bottom: 2em;
  padding: 1.5em;
  background-color: #1f1f1f;
  border-left: 5px solid #ff3333;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-modules:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.1);
}

.section-modules h3 {
  color: #ff5555;
  font-size: 1.4em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding-bottom: 0.3em;
}


.section-modules ul li {
  margin-bottom: 0.4em;
  font-size: 1.05em;
  line-height: 1.6;
}


